[package]
name = "sanity"
version.workspace = true
edition = "2024"

[dependencies]
sanitise = { path = ".." }
clap = { version = "4.2", features = ["derive"] }

[features]
minimal_benchmark = []
benchmark = ["sanitise/benchmark", "minimal_benchmark"]
